<!--
<div class="panel-default">
    <div class="panel-header">Test Profile</div>
    <div class="panel-body">
        <div class="input-group">
        <textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="profile.firstname"></textarea>
          <span class="input-group-addon btn btn-primary" ng-click="profile.saveProfile()">Post</span>
          </div>
    </div>
</div>
-->

<div class="container">
   <form id="form1" ng-submit="options.saveProfile()">
   <table>
      <tr>
          <td><label>User Name</label></td>
         <td><input type="text" name="username" ng-model="options.profile.username"></td>
       </tr>
      <tr>
         <td><label>First Name</label></td>
         <td><input type="text" name="firstname" ng-model="options.profile.firstname"></td>
       </tr>
      <tr>
         <td><label>Last Name</label></td>
         <td><input type="text" name="lastname" ng-model="options.profile.lastname"></td>
       </tr>
<!--
      <tr>
         <td><label>Email Address</label></td>
         <td><input type="text" name="email" ng-model="options.profile.email"></td>
       </tr>
-->
      <tr>
         <td><label>Gender</label></td>
         <td><input type="text" name="gender" ng-model="options.profile.gender"></td>
       </tr>
      <tr>
         <td><label>Birth Date</label></td>
         <td><input type="text" name="birthday" ng-model="options.profile.birthday"></td>
       </tr>
      <tr>
         <td><label>Country</label></td>
         <td><input type="text" name="country" ng-model="options.profile.country"></td>
     </tr>
   </table>
   </form>
   <br>
   <button type="submit" form="form1">Save</button>
</div>
