<div class="panel-default">
    <div class="panel-header">Test Profile</div>
    <div class="panel-body">
        <div class="input-group">
        <textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="profile.firstname"></textarea>
          <span class="input-group-addon btn btn-primary" ng-click="profile.saveProfile()">Post</span>
          </div>
    </div>
</div>

<!--
<div class="container">
   <form id="form1" ng-submit="profile.saveProfile()">
   <table>
      <tr>
         <td><label>User Name</label>
         <td><input type="text" name="username" ng-model="profile.username">
      <br><br>
      <tr>
         <td><label>First Name</label>
         <td><input type="text" name="firstname" ng-model="profile.firstname">
      <br><br>
      <tr>
         <td><label>Last Name</label>
         <td><input type="text" name="lastname" ng-model="profile.lastname">
      <br><br>
      <tr>
         <td><label>Email Address</label>
         <td><input type="text" name="email" ng-model="profile.email">
      <br><br>
      <tr>
         <td><label>Gender</label>
         <td><input type="text" name="gender" ng-model="profile.gender">
      <br><br>
      <tr>
         <td><label>Birth Date</label>
         <td><input type="text" name="birthday" ng-model="profile.birthday">
      <br><br>
      <tr>
         <td><label>Country</label>
         <td><input type="text" name="country" ng-model="profile.country">
   </table>
   </form>
   <br>
   <button type="submit" form="form1">Save</button>
</div>
-->
