<form class="form-horizontal" ng-submit="options.saveProfile()">
    <div class="form-group">
        <label for="username" class="col-md-4 control-label">User Name</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="username" ng-model="options.profile.username">
        </div>
    </div>
    <div class="form-group">
        <label for="firstname" class="col-md-4 control-label">First Name</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="firstname" ng-model="options.profile.firstname">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-md-4 control-label">Last Name</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="lastname" ng-model="options.profile.lastname">
        </div>
    </div>
    <div class="form-group">
        <label for="gender" class="col-md-4 control-label">Gender</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="gender" ng-model="options.profile.gender">
        </div>
    </div>
    <div class="form-group">
        <label for="birthday" class="col-md-4 control-label">Birth Date</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="birthday" ng-model="options.profile.birthday">
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-md-4 control-label">Country</label>
        <div class="col-md-8">
            <input type="text" class="form-control" id="country" ng-model="options.profile.country">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
