<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Friend Requests</div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="profile-pictures" ng-repeat="request in friend.requests">
                    <profile-block profile="request.requester"></profile-block>
                    <br />
                    <button class=" btn btn-primary picture-action-1" ng-click="friend.acceptFriendRequest(request)">
                        <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Accept
                    </button>
                    <button class=" btn btn-danger picture-action-2" ng-click="friend.removeRequest(request)">
                        <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;Decline
                    </button>
                </div>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Friends</div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="profile-pictures" ng-repeat="person in friend.friends">
                    <profile-block profile="person"></profile-block>
                    <br />
                    <button class="btn btn-danger picture-action-1" ng-click="friend.removeFriend(person.user)">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
                    </button>
                </div>
            </ul>
        </div>
    </div>
</div>
