<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Friend Requests</div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="profile-pictures" ng-repeat="request in friend.requests">
                    <profile-block profile="request.requester"></profile-block>
                    <button class=" btn btn-primary" ng-click="friend.acceptFriendRequest(request)">Accept</button>
                    <button class=" btn btn-primary" ng-click="friend.removeRequest(request)">Deny</button>
                </div>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Friends</div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="profile-pictures" ng-repeat="person in friend.friends">
                    <profile-block profile="person"></profile-block>
                    <br />
                    <span class="btn btn-primary picture-action-1" ng-click="friend.removeFriend(person.user)">Remove</span>
                </div>
            </ul>
        </div>
    </div>
</div>
