<div class="container">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-center">
                    <button class="btn btn-primary btn-block" ng-click="auth.authenticate('facebook')">
                        <img src="assets/images/facebookLogo.jpg" class="auth-logo">&nbsp;Sign in with Facebook
                    </button>
                    <button class="btn btn-success btn-block" ng-click="auth.authenticate('google')">
                        <img src="assets/images/google_logo.png" class="auth-logo">&nbsp;Sign in with Google
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
