<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Upload A Picture</div>
        <div class="panel-body">
            <div class="input-group">
                <form method="post" action="http://localhost:5000/api/picture" enctype="multipart/form-data">
                    <label class="btn btn-success">
                        Browse
                        <input type="file" name="myFile" class="form-control" ng-disabled="uploading" />
                        <input type="hidden" name="currentUser" value={{picture.currentUser}} />
                    </label>
                    <br />
                    <br />
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
            <br />
            <br />
            <div>
                <div ng-class="alert">Current user: {{picture.currentUser}}</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Pictures</div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="profile-pictures" ng-repeat="image in picture.files">
                    <img src="assets/images/uploads/{{image.filename}}" width="250px" height="auto">
                    <figcaption><strong>filename: </strong>{{image.originalname}}</figcaption>
                    <br />
                    <span class="btn btn-primary picture-action-1" ng-click="picture.removePicture(image._id)">Remove</span>
                    <span class="btn btn-primary picture-action-2" ng-click="picture.setProfilePicture(image._id)">Set Picture</span>
                </div>
            </ul>
        </div>
    </div>
</div>
