<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Upload A Picture</div>
        <div class="panel-body">
            <div class="input-group">
                <textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="picture.message"></textarea>
                <span class="input-group-addon btn btn-primary" ng-click="picture.postPicture()">Upload Picture</span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Pictures</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="message in picture.messages">
                    {{message.msg}} {{message.user.email}}
                </li>
            </ul>
        </div>
    </div>
</div>
