<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Upload A Picture</div>
        <div class="panel-body">
            <div class="input-group">
                <form method="post" action="http://localhost:5000/api/picture" enctype="multipart/form-data">
                    <input type="file" name="myFile" class="form-control" />
                    <br />
                    <br />
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary picture-action">
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">My Pictures</div>
        <div class="panel-body">
            <ul class="list-group">
                <div class="profile-pictures" ng-repeat="picture in picture.files">
                    <!--<p><strong>Image file uploaded by:</strong> {{picture.user.email}} </p>-->
                    <img src="assets/images/uploads/{{picture.filename}}" width="250px" height="auto">
                    <figcaption><strong>filename: </strong>{{picture.originalname}}</figcaption>
                    <br />
                    <span class="btn btn-primary picture-action-1" ng-click="picture.removePicture()">Remove</span>
                    <span class="btn btn-primary picture-action-2" ng-click="picture.setProfilePicture()">Set Picture</span>
                </div>
            </ul>
        </div>
    </div>
</div>
