<nav ng-controller="NavbarController as nav" class="navbar navbar-static-top navbar-inverse"><!--  <nav class="navbar navbar-default" role="navigation"> -->
    <div class="container-fluid">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ng-href="#">
                <span class="glyphicon glyphicon-home"></span> - FriendZone
            </a>

        </div>

        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      
        <ul class="nav navbar-nav">
          <!--<li class="active"><a ng-href="#">Home</a></li>-->
            <li ng-show="nav.isAuthenticated()"><a ui-sref="profile({userId: nav.getUserId()})" ng-click="navCollapsed = !navCollapsed"><span class="glyphicon glyphicon-sunglasses"></span></a></li>
          <li ng-show="nav.isAuthenticated()"><a ui-sref="picture({userId: nav.getUserId()})" ng-click="navCollapsed = !navCollapsed"><span class="glyphicon glyphicon-camera"></span></a></li>
          
          <li ng-show="nav.isAuthenticated()"><a ui-sref="friend" ng-click="navCollapsed = !navCollapsed">
              <span id="smallGuy" class="glyphicon glyphicon-user"></span>
              <span id="bigGuy" class="glyphicon glyphicon-user"></span>
              <span id="smallGuy" class="glyphicon glyphicon-user"></span>
          </a></li>
          
          <!--<li ng-show="nav.isAuthenticated()"><a ui-sref="friend">Friends</a></li>-->
          <li ng-show="nav.isAuthenticated()"><a ui-sref="chat" ng-click="navCollapsed = !navCollapsed"><span class="glyphicon glyphicon-comment"></span></a></li>
          <li ng-show="nav.isAuthenticated()"><a ui-sref="search" ng-click="navCollapsed = !navCollapsed"><span class="glyphicon glyphicon-search"></span></a></li>
          <li ng-hide="nav.isAuthenticated()"><a ui-sref="auth">Login</a></li>
          <li ng-show="nav.isAuthenticated()"><a ui-sref="auth">Logout</a></li>
        </ul>

        <!--<ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>-->

      </div><!-- /.navbar-collapse -->
    </nav>

    <!--
            
        <div class="" >
            <ul class="nav navbar-nav">
                <li class="active"><a ng-href="#">Home</a></li>
                <li ng-show="nav.isAuthenticated()"><a ui-sref="profile({userId: nav.getUserId()})">Profile</a></li>
                <li ng-show="nav.isAuthenticated()"><a ui-sref="picture"><span class="glyphicon glyphicon-camera"></span></a></li>
                <li ng-show="nav.isAuthenticated()"><a ui-sref="friend">Friends</a></li>
                <li ng-show="nav.isAuthenticated()"><a ui-sref="chat"><span class="glyphicon glyphicon-comment"></span></a></li>
		        <li ng-show="nav.isAuthenticated()"><a ui-sref="search"><span class="glyphicon glyphicon-search"></span></a></li>
                <li ng-hide="nav.isAuthenticated()"><a ui-sref="auth">Login</a></li>
                <li ng-show="nav.isAuthenticated()"><a ui-sref="auth">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

-->




